#accueil {
	background-image: linear-gradient(to bottom, #101d43, #075a76);
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#une {
	display: flex;
	// background-color: yellow;
	margin-top: 8%;
}

#crea {
	// background-color: red;
	width: 40%;
	margin: auto;
	margin-top: 4rem;
	margin-left: 5rem;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	line-height: 6rem;
	& span {
		width: 0.6rem;
		height: 0.6rem;
		background-color: white;
		display: inline-block;
	}
	& h1 {
		text-align: left;
	}
}

#del {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
	font-size: 3.5rem;
	margin-top: 1rem;
}
h2 {
	margin-top: 5rem;
	margin-bottom: 0;
	display: flex;
	font-size: 2rem;
}
#dev {
	justify-content: center;
	margin: auto;
	position: relative;
	&::after {
		position: absolute;
		content: "";
		height: 2px;
		background-color: #fff;
		left: 0;
		bottom: 0;
		animation: underline 3s infinite ease-out;
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff;
	}
}

#menu {
	// background-color: pink;
	width: 50%;
	perspective: 1000px;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	& a {
		display: grid;
		grid-template-columns: 20% auto;
		border-radius: 10px;
		padding: 14px;
		cursor: pointer;
		transform: rotateY(-35deg) rotateX(15deg);
		position: absolute;
		border-bottom: 4px solid rgba(0, 0, 0, 0.2);
		border-right: 4px solid rgba(0, 0, 0, 0.2);
		transition: 0.7s ease-out;
		background-color: #101d43;
		background-image: linear-gradient(135deg, #075a76, #101d43);
		width: 16rem;
		height: 6rem;
		text-decoration: none;
		text-transform: uppercase;
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff;

		&:nth-child(1) {
			top: 32px;
			z-index: 2;
			animation-name: blind, fall;
			animation-duration: 4s, 4s;
			animation-delay: 0s, 4s;
		}
		&:nth-child(2) {
			top: 140px;
			z-index: 1;
			animation-name: blind, fall;
			animation-duration: 2s, 4s;
			animation-delay: 0s, 2s;
		}
		&:nth-child(3) {
			top: 255px;
			z-index: 0;
			animation: fall 4s ease-out;
		}
		&:hover {
			transform: translateY(30px) rotateY(-35deg) rotateX(15deg) scale(1.2);
			z-index: 3;
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
		}
	}

	& div p {
		margin-left: 2rem;
		margin-top: 50%;
	}
}
.logo {
	width: 3%;
	position: absolute;
	top: 3vh;
	left: 3vw;
	cursor: pointer;
}
.logoreal {
	top: 103vh;
}
#sigle {
	font-size: 5rem;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
	color: #538cd0;
	width: 10vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	// background-color: aqua;
	& div {
		display: flex;
		&:nth-child(2) {
			margin-top: -47px;
			& p:nth-child(2) {
				transform: rotateZ(180deg) translateY(5px);
			}
		}
	}
	& p {
		margin: 0;
		padding: 0;

		&:nth-child(2) {
			margin-left: -10px;
		}
	}
}
#cadre_delphmout {
	display: flex;
	justify-content: center;
}

#delphmout {
	// max-width: 20vw;
	width: 380px;
	margin: auto;
	font-size: 3rem;
	position: absolute;
	top: 10rem;
	// left: 40vw;
	// background-color: brown;

	& > p {
		margin-bottom: 10px;
		// background-color: yellow;
	}
	& span {
		color: #538cd0;
		text-shadow: 2px 0px 0px #fff;
	}
	& #devweb {
		// background-color: brown;
		margin-top: -40px;
		display: flex;
		letter-spacing: 2px;
		& p:nth-child(2) {
			margin-left: 9px;
			transform: rotateZ(180deg) translateY(5px);
			color: #538cd0;
			text-shadow: -2px 0px 0px #fff;
		}
	}
	& #line {
		height: 2px;
		background-color: #fff;
		animation: underline 3s infinite ease-out;
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff;
	}
}

/******MEDIA QUERIES*******/
@media only screen and (max-width: 1750px) {
	#crea {
		width: 40%;
		font-size: 1rem;
		line-height: 3rem;
		margin-top: 2rem;
	}
	#sigle {
		font-size: 3rem;
		margin-top: 1rem;
		& div {
			display: flex;
			&:nth-child(2) {
				margin-top: -29px;
			}
		}
		& p:nth-child(2) {
			margin-left: -5px;
		}
	}
	#delphmout {
		font-size: 2rem;
		width: 250px;
		top: 5rem;
		& > p {
			margin-bottom: 2px;
		}
		& #devweb {
			letter-spacing: 1px;
			& p:nth-child(2) {
				transform: rotateZ(180deg) translateY(2px);
			}
			// background-color: blueviolet;
		}
		& #line {
			margin-bottom: 10px;
		}
	}
}
@media only screen and (max-width: 992px) {
	#accueil {
		background-size: 100% 160%;
	}
	#crea {
		font-size: 0.6rem;
		line-height: 2rem;
		margin-top: 0rem;
	}
	#menu {
		font-size: 1rem;
		& a {
			width: 12rem;
			height: 4rem;
			&:nth-child(1) {
				top: -5px;
			}
			&:nth-child(2) {
				top: 85px;
			}
			&:nth-child(3) {
				top: 175px;
			}
		}
	}
	#une {
		margin-top: 20%;
	}
}
@media only screen and (max-width: 670px) {
	#une {
		// background-color: greenyellow;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		margin-top: 7rem;

		& #crea {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	#menu {
		width: 100%;

		font-size: 1.2rem;
		& a {
			&:nth-child(1) {
				top: 40px;
			}
			&:nth-child(2) {
				top: 130px;
			}
			&:nth-child(3) {
				top: 220px;
			}
		}
	}
}
