#accueil {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../images/computers.jpg");
	background-size: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#une {
	display: flex;
	/* background-color: yellow; */
	margin-top: 2rem;
}
#moi {
	width: 15%;
	/* background-color: green; */
	& img {
		-webkit-filter: hue-rotate(-160deg) drop-shadow(4px 0px 4px #fff); /* Chrome, Safari, Opera */
		filter: hue-rotate(-160deg) drop-shadow(4px 0px 4px #fff);
		width: 100%;
		animation: appear 4s ease-in-out;
	}
}

#delphine {
	text-align: center;
	margin-top: 0;
	animation: opac 7s ease-in-out;
	letter-spacing: 0.1rem;
	padding-left: 1.5rem;
	font-size: 1.5rem;
}
#crea {
	/* background-color: red; */
	width: 30%;
	margin: auto;
	margin-left: 8rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5rem;
	& span {
		width: 0.6rem;
		height: 0.6rem;
		background-color: white;
		display: inline-block;
	}
}
#creaS {
	/* background-color: yellow; */
	margin-bottom: 0;
	margin-top: 4rem;
}
#creaA {
	margin-top: 1rem;
}
h1 {
	text-align: center;
}
#del {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
	font-size: 3.5rem;
	margin-top: 1rem;
}
h2 {
	margin-top: 5rem;
	margin-bottom: 0;
	display: flex;
	font-size: 2rem;
}
#dev {
	justify-content: center;
	margin: auto;
	position: relative;
	&::after {
		position: absolute;
		content: "";
		height: 2px;
		background-color: #fff;
		left: 0;
		bottom: 0;
		animation: underline 3s infinite ease-out;
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff;
	}
}

#menu {
	/* background-color: pink; */
	width: 50%;
	perspective: 1000px;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	/* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff; */
	& a {
		display: grid;
		grid-template-columns: 20% auto;
		border-radius: 10px;
		padding: 14px;
		cursor: pointer;
		transform: rotateY(-35deg) rotateX(15deg);
		position: absolute;
		border-bottom: 4px solid rgba(0, 0, 0, 0.2);
		border-right: 4px solid rgba(0, 0, 0, 0.2);
		transition: 0.7s ease-out;
		background-color: #101d43;
		background-image: linear-gradient(135deg, #075a76, #101d43);
		width: 16rem;
		height: 6rem;
		text-decoration: none;
		text-transform: uppercase;

		&:nth-child(1) {
			top: -72px;
			/* top: -112px; */
			z-index: 2;
			animation-name: blind, fall;
			animation-duration: 4s, 4s;
			animation-delay: 0s, 4s;
		}
		&:nth-child(2) {
			top: 40px;
			z-index: 1;
			animation-name: blind, fall;
			animation-duration: 2s, 4s;
			animation-delay: 0s, 2s;
		}
		&:nth-child(3) {
			top: 155px;
			z-index: 0;
			animation: fall 4s ease-out;
		}
		&:hover {
			transform: translateY(30px) rotateY(-35deg) rotateX(15deg) scale(1.2);
			z-index: 3;
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
		}
	}

	& div p {
		margin-left: 2rem;
		margin-top: 50%;
	}
}
