body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "acme", Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
}

a:link,
a:visited,
a:active,
a {
	color: white;
	text-decoration: none;
}

#real h2,
#fonc h2,
#tech h2 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
	/* background-color: yellow; */
	text-transform: uppercase;
}

//* icons for Back to home and Menu
.back {
	width: 2rem;
	cursor: pointer;
	position: absolute;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
.menu {
	cursor: pointer;
	position: absolute;
	right: 1rem;
	width: 8rem;
	background-color: rgba(100, 100, 100, 0.6);
	border-radius: 10px;
	padding-left: 1rem;
	display: none;
	& a:hover {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
	}
}
.real {
	top: 104vh;
	right: 10rem;
}
.realu {
	top: 104vh;
	right: 7rem;
}
.realmenu {
	top: 108vh;
}
.realvideo {
	top: 4vh;
	right: 7rem;
}

.fonc {
	top: 204vh;
	right: 10rem;
}
.foncu {
	top: 204vh;
	right: 7rem;
}
.foncmenu {
	top: 208vh;
}
.tech {
	top: 304vh;
	right: 10rem;
}
.techu {
	top: 304vh;
	right: 7rem;
}
.techmenu {
	top: 308vh;
}

//* Logo DMDW
.logo {
	width: 3%;
	position: absolute;
	left: 3vw;
	cursor: pointer;
}
.logoaccueil {
	top: 3vh;
}
.logoreal {
	top: 103vh;
}
.logofonc {
	top: 204vh;
	width: 3%;
	position: absolute;
	left: 3vw;
	cursor: pointer;
}
.logotech {
	top: 304vh;
	width: 3%;
	position: absolute;
	left: 3vw;
	cursor: pointer;
}

//* VIDEO
.video {
	display: flex;
	margin-top: 7vh;
	& video {
		margin: auto;
	}
}

#ecommerce {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/caddie.jpg");
	background-size: 25% 25%;
	height: 100vh;
}
#social {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/socialnet.jpg");
	background-size: 100% 100%;
	height: 100vh;
}
#sondage {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/sondage.jpg");
	background-size: 25% 25%;
	height: 100vh;
}
#envoipdf {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/convention_blur.jpg");
	background-size: 100% 100%;
	height: 100vh;
}
#stock {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/livre.jpg");
	background-size: 100% 100%;
	height: 100vh;
}
#pro {
	background-color: yellow;
	width: 80%;
	margin: auto;
	margin-top: 40vh;
	height: 10vh;
	transform: rotateZ(-10deg);
	color: blue;
	font-size: 2rem;
	border-radius: 8px;
	display: flex;
	& p {
		margin: auto;
	}
}
#email {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/email.jpg");
	background-size: 100% 100%;
	height: 100vh;
}
#planning {
	background-image: linear-gradient(to bottom, rgba(14, 43, 80, 0.8), rgba(14, 43, 80, 0.8)),
		url("../images/calendar.jpg");
	background-size: 100% 100%;
	height: 100vh;
}

//* Page Mentions Legales
#mentions {
	background-color: #02080f;
	margin-left: 4rem;
	margin-right: 4rem;
	& #update {
		text-align: right;
	}
}

/******MEDIA QUERIES*******/
@media only screen and (max-width: 1450px) {
	//#real avec height à 125vh.
	.fonc {
		top: 229vh;
	}
	.foncu {
		top: 229vh;
	}
	.foncmenu {
		top: 233vh;
	}
	.tech {
		top: 329vh;
	}
	.techu {
		top: 329vh;
	}
	.techmenu {
		top: 333vh;
	}

	// Logo DMDW
	.logofonc {
		top: 229vh;
	}
	.logotech {
		top: 329vh;
	}
}
@media only screen and (max-width: 992px) {
	//#real avec height à 100vh.
	.back {
		width: 1.5rem;
	}
	.real {
		right: 3rem;
	}
	.realu,
	.realvideo {
		right: 1rem;
	}
	.fonc {
		top: 204vh;
		right: 3rem;
	}

	.foncu {
		top: 204vh;
		right: 1rem;
	}
	.foncmenu {
		top: 208vh;
	}
	.tech {
		top: 304vh;
		right: 3rem;
	}
	.techu {
		top: 304vh;
		right: 1rem;
	}
	.techmenu {
		top: 308vh;
	}

	// Logo DMDW
	.logofonc {
		top: 204vh;
	}
	.logotech {
		top: 304vh;
	}
}
@media only screen and (max-width: 670px) {
	#real h2,
	#fonc h2,
	#tech h2 {
		font-size: 1.5rem;
		text-align: center;
		margin-top: 4rem;
	}
}
